body{
  display: flex;
  background-color: hsl(210,46%,95%);
  height: 100vh;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  font-family: 'Manrope', sans-serif; /* 폰트 설정 */
}
#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
*{
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  #root{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: white;
  }
  #imgs{
    background-image: url('./img//drawers.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;
  }
}

@media (min-width: 769px) {
            /* 769px 이상 화면에 적용되는 스타일 */
        }