#shareBtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: hsl(214, 100%, 95%);
    display: grid;
    place-items: center;
}
#shareBtn:hover{
    background-color: hsl(217,19%,35%);
}
/* background-color: hsl(217,19%,35%);*/