body{
    height: 100%;
}
* {
    box-sizing: border-box;
}
#cardContainer{
    display: grid;
    grid-template-areas: 
    "Sup Team Cal"
    "Sup Karma Cal";
    gap: 30px; 
    justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
  width: 80%;
  max-width: 1000px; /* 카드 묶음 전체 폭 */
  margin: 100px auto; /* 화면 가운데 배치 */
}
#supervisor{
    grid-area: Sup;
    align-self: center; /* 세로 가운데 */
}
#Team{
    grid-area: Team
}
#Karma{
    grid-area: Karma;
}
#Calculator{
    grid-area: Cal;
    align-self: center; /* 세로 가운데 */
}
