body{
    height: 100%;
}
* {
    box-sizing: border-box;
}
#cardContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "Sup TeamK Cal";
    align-items: center;
    justify-items: center;
    gap: 2rem;
}
#supervisor{
    grid-area: Sup;
    align-self: center; /* 세로 가운데 */
    justify-self: end;
    
}

#Calculator{
    grid-area: Cal;
    align-self: center; /* 세로 가운데 */
    justify-self: start;

}
#TeamK{
    grid-area: TeamK;
    
}