body{
  background-color: hsl(257,40%,49%);
   height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* 👉 필요 시 추가 */
}
/*pc*/
@media (min-width: 769px) {
  body{
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('./img/bg-desktop.svg');

    }
    #root{
      width: 100%;
      height: 100%;
      display: grid; 
      grid-template-columns: 1.1fr 0.9fr; 
      grid-template-rows: 0.3fr 2.4fr 0.3fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "header header"
        "img content"
        "icon icon"; 
  }
  #logo{
    grid-area: header;
    padding: 20px;
  }
  #img{
    background-image: url('./img/illustration-mockups.svg');
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: img;
    height: auto;
    width: 100%;
    
  }
  #Con{
    grid-area: content;
    align-self: center;
  }
  #Ic{
    grid-area: icon;
    
  }
        }





@media screen and (max-width: 768px) {
  /* 모바일에서만 적용 */
  #root{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    gap:50px;
  }
  #img{
    background-image: url('./img/illustration-mockups.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-position: center;
  }
  #logo{
    align-self: flex-start;
  }
  #logo img{
    width: 120px;
    height: auto;
  }
}
