body{
  background-color: hsl(0, 100%, 74%);
  height: 100vh;
  display: flex;
  justify-content: center;
}
*{
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  body{
    background-image: url(/src/img/bg-intro-mobile.png);
  }
  #root{
    width: 90vw;
    display: flex;
    flex-direction: column;
    
  }
}

@media screen and (min-width: 770px){
	body{
    background-image: url(/src/img/bg-intro-desktop.png);
  }
  #root{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
  }
  #root2{
    width: 50%;
    height: 80vh;
    
  }
}