#root{
  height: 100vh;
  background-image: linear-gradient(135deg,hsl(0,0%,100%),hsl(0,100%,98%));
}


@media screen and (max-width: 768px) {
  #img{
    background-image: url(./img/hero-mobile.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}


@media screen and (min-width: 770px){
	/*데스크탑에서 적용*/
  #img{
    background-image: url(./img/hero-desktop.jpg);
    height: 100%;
    width: 50%;
  }
}