body{
  background-color: hsl(0, 100%, 74%);
  height: 100vh;
  display: flex;
  justify-content: center;
}
*{
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  body{
    background-image: url(/src/img/bg-intro-mobile.png);
  }
  #root{
    width: 90vw;
    display: flex;
    flex-direction: column;
    
  }
}

@media screen and (mix-width: 770px){
	/*데스크탑에서 적용*/
}