#createBtn{
    position: absolute;
    bottom: 15px;
    right: 20px;
    display: flex;
    width: 95%;    
}
#c_btn{
    border-radius: 50%;
    background-color: yellow;
    border: none;
    margin-left: auto;
}
.rotate{
    transform: rotate(45deg);
    transition: transform 0.5s ease-in-out;
}
.noRotate{
    transform: rotate(90deg);
    transition: transform 0.5s ease-in-out;
}

/*textInput*/
#text_div{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    height: 50px;
}
#in_btn{
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 25px;
    color: blue;
    margin-right: 20px;
}
#in_text{
    border: none;
    outline: none;
    font-size: 20px;
    padding:20px
}


.textBox {
    height: 50px;
    width: 0;                 /* 처음: 안 보임 */
    overflow: hidden;
    transition: width 0.3s ease;
    
}

.textBox.open {
    width: 90%;               /* 펼쳐질 크기 */
}
