#search{
    width: 700px;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
    margin: 20px;
}
#input{
    border: none;
    width: 80%;
    height: 90%;
    outline: none;
    font-size: 30px;
}
#search_btn{
    border: none;
    width: 10%;
    height: 90%;
    border-radius: 50%;
}
