.pink{
    color:hsl(0,36%,70%)
}
h1{
        max-width: 200px;
        letter-spacing: 2rem;
        
    }
    p{
        max-width: 350px;
    }

@media screen and (max-width: 768px) {
  /* 모바일에서만 적용 */
    #contentdiv{
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items:center;
    }
    

}
@media screen and (mix-width: 770px){
	/*데스크탑에서 적용*/
}