
.error-message{
    color:hsl(0,93%,68%);
}
.email-input{
        width: 350px;
        z-index: 0;
        height: 50px;
        border:1px solid hsl(0,36%,70%);
        border-radius: 30px;
        
}
.submit-button{
        background-image: linear-gradient(135deg, hsl(0,80%,86%), hsl(0,74%,74%));
        border:none;
        border-radius: 30px;
        z-index: 50;
        height: 55px;
        width: 70px;
        transform: translateX(-70px) translateY(3px);
    }
    .submit-button:hover{
    opacity: 0.5;
    }
    .input-error{
        border:1px solid red;
    }
@media screen and (max-width: 768px) {
  /* 모바일에서만 적용 */
   
}
@media screen and (mix-width: 770px){
	/*데스크탑에서 적용*/
}