body{
    background-color: hsl(211, 100%, 96%);
    display: grid;
    height: 100vh;
    place-items: center;
    
}
.container{
    background-color: white;
    width: 650px;
    height: 500px;   
    border-radius: 20px;
    display: flex;
}
/* 왼쪽 */
.result{
    background: linear-gradient(hsl(252, 100%,67%), hsl(241, 81%,54%));
    width: 50%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#score{
    background: linear-gradient( hsl(241, 81%,54%), hsl(256, 72%, 46%,1));
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1{
    color: hsl(241, 100%, 89%)
}
/* 왼쪽 */
.summary{
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Continue{
    background-color: hsl(224, 30%,27%);
    color: aliceblue;
    text-align: center;
    
}
