#loginForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
}
.inputs{
    height: 50px;
    border-radius: 10px;
    border-color: lightgray;
    padding-left: 20px;
    width: 100%;
}
#submit{
    background-color: hsl(154,59%,45%);
    border: none;
    color: white;
    margin:20px;
    margin:20px;
    height: 50px;
    border-radius: 10px;
}
#submit:hover{
    background-color: hsl(154,59%,51%);
}
.error{
    margin: 0;
    justify-self: flex-end;
    color: red;
    font-size: 10px;
}
.form{
    margin:10px;
}

.input-wrapper{
    position: relative;
    width: 100%;
}
.error-icon{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}
#links{
    color:hsl(246,25%,74%);
    text-align: center;
        align-self: center;
}
#a_link{
    text-decoration: none;
    color: red;
}
@media screen and (max-width: 768px) {
    #links{
        width: 75%;
        
        margin: 0;
    }
}
@media  screen and (min-width: 770px) {
    #loginForm{
        height: 90%;
        padding: 20px;
        justify-content: space-between;
    }
    
}