#loginForm{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.inputs{
    margin:20px;
    height: 50px;
    border-radius: 10px;
    border-color: lightgray;
    padding-left: 20px;
}
#submit{
    background-color: green;
    color: white;
    margin:20px;
    margin:20px;
    height: 50px;
    border-radius: 10px;
}