#purBtn{
    background-color: hsl(248,32%,48%);
    padding: 10px auto;
    border-radius: 10px;
    box-shadow: 0 7px 5px hsla(249,10%,26%,0.5);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
}
#pulP{
    color:hsl(246,25%,90%)
}
@media screen and (max-width: 768px) {
  #pulP{
    width: 200px;
  }
}