.title{
    color:white;
    max-width: 350px;
    line-height: 40px;

}
.text{
    color:hsl(246,25%, 90%);
    max-width: 280px;
    font-size: 16px;
}
#TextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 25px;
}
@media screen and (max-width: 768px) {
  #TextContainer{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}