.title{
    color:white;
    line-height: 40px;
}
.text{
    color:hsl(246,25%, 90%);
    font-size: 16px;
}
#TextContainer{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
@media screen and (max-width: 768px) {
  #TextContainer{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    align-items: center;

  }
  .title{
    width: 350px;
  }
  .text{max-width: 280px;}
}
@media screen and (min-width: 770px){
  #TextContainer{
    width: 40%;
    
  }
  .title{
    width: 300px
  }
}