body {
  margin: 0;
  padding: 0;
  background-color: hsl(275, 100%, 97%);
  font-family: sans-serif;

  display: flex;
  justify-content: center;
  align-items: start; /* 상단 정렬 */
  height: 100vh;
  position: relative;
}

/* 2. 상단 40%만 이미지로 채움 */
.background {
  background-image: url('background-pattern-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh; /* 👉 여기서 높이 조절 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#div1 {
  background-color: white;
  width: 500px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  z-index: 10;
  position: relative;
  margin-top: 300px
}
.title{
    display: flex;
    
}
.que{
    display: flex;
}
.answer{
    display: none;
    color: hsl(292, 16%, 49%);
}